@layout AuthLayout
@page "/auth/login"
@inject IAuthenticationManager _authenticationManager

<EditForm Model="_model" OnValidSubmit="SubmitAsync">

    <DataAnnotationsValidator />

    <MudText Typo="Typo.h4"
             GutterBottom="true">
        Sign In
    </MudText>

    <MudText>
        Don't have an account? <MudLink Href="/auth/register">Register</MudLink>
    </MudText>

    <MudTextField Label="E-mail"
                  @bind-Value="_model.Email"
                  For="@(() => _model.Email)"
                  Variant="Variant.Outlined"
                  Class="my-6" />

    <MudTextField InputType="@PasswordInput" 
                  Label="Password"
                  @bind-Value="_model.Password"
                  For="@(() => _model.Password)"
                  Variant="Variant.Outlined"
                  Adornment="Adornment.End"
                  AdornmentIcon="@PasswordInputIcon"
                  OnAdornmentClick="TogglePasswordVisibility" />

    <div Class="d-flex justify-space-between align-center">
        <MudCheckBox T="bool"
                     Label="Remember me?"
                     Color="Color.Primary"
                     Class="ml-n1 my-3" />
    </div>

    <MudButton ButtonType="ButtonType.Submit" 
               Variant="Variant.Filled"
               Color="Color.Primary"
               Size="Size.Large"
               FullWidth="true">
        Sign In
    </MudButton>
</EditForm>

